@font-face {
    font-family: 'Designosaur';
    src: url('./../fonts/Designosaur-Regular.ttf');
    src: url('./../fonts/Designosaur-Regular.otf');
  }

body {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #333;
    background: #eee;
    min-height: 100%;
    position: relative;
}

header {
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    padding: 0 8px;
    z-index: 1000;
    transition: all 0.2s;
}

header.scrolled {
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

section:focus {
    outline: none;
    box-shadow: none;
}

.container, .container-fluid,
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-8, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 8px;
    padding-right: 8px;
}

@media (min-width: 1296px) {
    .container {
        width: 1296px;
    }
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.pedro-header-logo {
    padding: 16px 8px;
}

.pedro-header-logo img {
    height: 48px;
}

.pedro-header-nav {
    margin-right: 8px;
}

.pedro-header-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.pedro-header-nav ul li {
    display: inline-block;
}


.pedro-header-nav ul li a,
.pedro-header-nav ul li a:visited,
.pedro-header-nav ul li a:focus,
.pedro-header-nav ul li a:active,
.pedro-header-nav ul li a:link {
    padding: 29px 12px;
    line-height: 22px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    display: block;
    outline: none;
    box-shadow: none;
    text-decoration: none;
    transition: all 0.2s;
    color: #eee;
}

header.scrolled .pedro-header-nav ul li a,
header.scrolled .pedro-header-nav ul li a:visited,
header.scrolled .pedro-header-nav ul li a:focus,
header.scrolled .pedro-header-nav ul li a:active,
header.scrolled .pedro-header-nav ul li a:link {
    color: #444;
}

.pedro-header-nav ul li a:hover,
header.scrolled .pedro-header-nav ul li a:hover,
.pedro-header-nav ul li a:focus,
header.scrolled .pedro-header-nav ul li a:focus {
    color: #ffa000;
    border-top: 4px solid #ffa000;
    padding-top: 25px;
}

.pedro-header-sidenav {
    position: fixed;
    background: #fff;
    overflow-y: auto;
    width: 240px;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1002;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    right: -248px;
    transition: all 0.4s;
}

.pedro-header-sidenavBg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    opacity: .4;
    z-index: 1001;
    display: none;
}

.pedro-header-sidenavBg.show {
    display: block;
}

.pedro-header-sidenav.show {
    right: 0;
}

.pedro-header-sidenav nav {
    padding: 8px 0;
}

.pedro-header-sidenav nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.pedro-header-sidenav nav ul li a,
.pedro-header-sidenav nav ul li a:visited,
.pedro-header-sidenav nav ul li a:focus,
.pedro-header-sidenav nav ul li a:active {
    padding: 12px 24px;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 24px;
    width: 100%;
    display: block;
    color: #444;
    font-weight: 500;
    transition: all 0.2s;
    outline: none;
    box-shadow: none;
}

.pedro-header-sidenav nav ul li a:hover {
    color: #ffa000;
    border-right: 4px solid #ffa000;
    padding-right: 20px;
    text-decoration: none;
    background: rgba(0,0,0,0.08);

}

.pedro-header-sidenavBtn {
    display: none;
}

.pedro-header-sidenavBtn button {
    background: none;
    padding: 0;
    border: none;
    margin: 28px 16px;
}

.pedro-header-sidenavBtn button i {
    line-height: 24px;
    border-radius: 2px;
    padding:4px;
    color: #fff;
    background: #ffa000;
    transition: all 0.2s;
}

.card {
    border-radius: 2px;
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

footer {
    background: #000;
    color: #fff;
    padding: 24px 16px;
    padding-bottom: 20px;
}

p {
    margin: 0;
}

.footer-container .footer-copyright address{
    margin: 0;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
}

.footer-social {
    padding-bottom: 12px;
}

.footer-social ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.footer-social ul li {
    display: inline-block;
    margin: 0 8px;
}

.footer-social ul li a {
    display: block;
    width: 32px;
    height: 32px;
    transition: all 0.2s;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    opacity: 0.8;
}

.footer-social ul li a:hover {
    opacity: 1;
}

.footer-social ul li a.footer-facebook {
    background-image: url('./../img/social/facebook-white.png');
}

.footer-social ul li a.footer-twitter {
    background-image: url('./../img/social/twitter-white.png');
}

.footer-social ul li a.footer-youtube {
    background-image: url('./../img/social/youtube-white.png');
}

.footer-social ul li a.footer-instagram {
    background-image: url('./../img/social/instagram-white.png');
}

.footer-social ul li a.footer-linkedin {
    background-image: url('./../img/social/linkedin-white.png');
}

.footer-social ul li a.footer-facebook:hover {
    background-image: url('./../img/social/facebook-yellow.png');
}

.footer-social ul li a.footer-twitter:hover {
    background-image: url('./../img/social/twitter-yellow.png');
}

.footer-social ul li a.footer-youtube:hover {
    background-image: url('./../img/social/youtube-yellow.png');
}

.footer-social ul li a.footer-instagram:hover {
    background-image: url('./../img/social/instagram-yellow.png');
}

.footer-social ul li a.footer-linkedin:hover {
    background-image: url('./../img/social/linkedin-yellow.png');
}

.page-head {
    padding-top: 80px;
    background: #000;
    position: relative;
    padding-bottom: 120px;
    min-height: 462px;
}

.page-head-title {
    color: #ffa000;
    font-size: 48px;
    font-family: 'Designosaur', 'Roboto', sans-serif;
    padding: 48px 0;
    line-height: 48px;
}

.page-head-content {
    color: #fff;    
}

.page-head-content > p {
    opacity: .6;
    line-height: 24px;
}

@media (max-width: 767px) {
    .pedro-header-nav {
        display: none;
    }

    .pedro-header-sidenavBtn {
        display: block;
    }

    .hello-photo {
        margin: 16px !important;
    }

    .hello-container {
        padding: 16px !important;
    }
}