.blog-search-input {
    margin-top: 32px;
    position: relative;
    padding-left: 42px;
}

.search-icon {
    position: absolute;
    left: 0;
    top: 9px;
    color: #ffa000;
}

.search-label {
    font-size: 12px;
    line-height: 20px;
    color: #ffa000;
    position: absolute;
    left: 42px;
    top: -16px;
}

.blog-search-input input,
.blog-search-input input:focus,
.blog-search-input input:visited,
.blog-search-input input:active {
    background: none;
    border-radius: 0;
    border: none;
    border-bottom: 2px solid #fff;
    height: 42px;
    padding: 0;
    color: #fff;
    font-size: 14px;
    outline: none;
    box-shadow: none;
    transition: all 0.2s;
}

.blog-search-input input:focus {
    border-color: #ffa000;
}

#blog {
    padding-bottom: 32px;
    margin-top: -96px;
}

.blog-post {
    padding-bottom: 8px;
    margin-bottom: 16px;
}

.blog-post-head {
    padding: 16px;
}

.blog-post-head h2 {
    margin: 0;
    font-size: 22px;
    line-height: 24px;
    font-weight: 400;    
}

.blog-post-head h2 a {
    color: #333;
    width: 100%;
    display: block;
    height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.2s;
}

.blog-post-head h2 a:hover {
    text-decoration: none;
    color: #ffa000;
}

.blog-post-thumb {
    position: relative;
    margin-bottom: 8px;
}

.blog-post-infos {
    position: absolute;
    right: 8px;
    top: 8px;
}

.blog-post-date {
    background: #ffa000;
    color: #fff;
    border-radius: 2px;
    padding: 4px;
    margin-bottom:8px;
}

.blog-post-date span {
    display: block;
    text-align: center;
}

.blog-post-date span:first-child {
    font-size: 28px;
    line-height: 28px;
}

.blog-post-date span:nth-child(2) {
    font-size:14px;
    line-height: 14px;
}

.blog-post-date span:first-child(3) {
    font-size:10px;
    line-height: 10px;
}

.blog-post-icon {
    border-radius: 2px;
    background: #ffa000;
    text-align: center;
    height: 32px;
    padding-top: 2px;
}

.blog-post-icon i {
    font-size: 28px;
    color: #fff;
}

.blog-post-text {
    padding-bottom:0;
}

.blog-post-text p {
    font-size: 14px;
    font-weight: 500;
    color: #333;
    line-height: 22px;
    height: 66px;
    margin: 16px 16px 8px 16px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.blog-post-text a,
.blog-post-text a:focus,
.blog-post-text a:active,
.blog-post-text a:visited,
.blog-post-text a:link {
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffa000;
    font-weight: 500;
    line-height: 22px;
    padding: 7px 16px;
    margin-right: 8px;
    border-radius: 2px;
    text-decoration: none;
    outline: none;
    box-shadow: none;
    transition: all 0.2s;
}

.blog-post-text a:hover {
    background: #ffa000;
    text-decoration: none;
    color: #fff;
}

.load-posts-container {
    border-top: 1px solid #ccc;
    padding: 40px 0;
}

.load-posts-btn,
.load-posts-btn:focus,
.load-posts-btn:visited,
.load-posts-btn:active {
    background: none;
    border:none;
    border-radius: 2px;
    background: #ffa000;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    padding: 7px 16px;
    margin: 0 auto;
    display: block;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    transition: all 0.2s;
    outline: none;
}

.load-posts-btn:hover {
    box-shadow:0 3px 3px 0 rgba(0,0,0,0.14),0 1px 7px 0 rgba(0,0,0,0.12),0 3px 1px -1px rgba(0,0,0,0.2);
    background: #e18d00;
}