#banner {
    height: 100vh;
    width: 100%;
    position: relative;
    display: block;
    background: url('./../img/banner.jpg') no-repeat center center #000;
    background-size: cover;
    padding-top: 80px;
}

#banner img {
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    display: block;
}

#banner blockquote {
    border: none;
    color: #ffa000;
    margin: 0 auto;
    display: inline-block;
    position: absolute;
    left: 5%;
    top: 20%;
}

#banner blockquote .quote-container {
    position: relative;
    padding: 16px 48px;
    font-size: 32px;
    line-height: 40px;
    font-family: 'Designosaur', 'Roboto', sans-serif;
}

#banner blockquote .quote-icon {
    position: absolute;
    font-size: 32px;
}

#banner blockquote .quote-icon.quote-init {
    transform: rotate(180deg);
    left: 8px;
    top:8px;
}

#banner blockquote .quote-icon.quote-end {
    right: 84px;
    bottom: 8px;
}

#banner blockquote footer {
    padding: 0;
    text-align: right;
    padding: 0 24px;
    font-size: 18px;
    color: #ffa000;
}

.plan-box-wrap {
    display: inline-block;
    float: inherit !important;
}

.home-section-title h1 {
    padding-top:40px;
    padding-bottom: 32px;
    border-top: 1px solid #ccc;
    font-size: 32px;
    color: #666;
    font-weight: 400;
    margin: 0;
}

.home-section-title.no-border h1 {
    border: none;
}

.home-section-title.plans-no-border h1 {
    color: #fff;
}

#plans {
    background: #000 url('./../img/pedro_foto.jpg') left bottom no-repeat;
    padding-bottom: 72px;
    background-size: 360px;
}

#plans .home-section-title h1 {
    padding-bottom: 64px;
}

.plan-box {
    border-radius: 2px;
    border: 2px solid #fff;
    margin-bottom: 16px;
}

.plan-box .plan-box-header {
    padding: 16px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
}

.plan-box .plan-box-container {
    padding: 24px 16px;
    padding-bottom: 8px;
}

.plan-box .plan-box-container .plan-box-time {
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    color: #fff;
    padding-bottom: 16px;
}

.plan-box .plan-box-container .plan-box-price {
    color: #fff;
    padding-bottom: 16px;
}

.plan-box .plan-box-container .plan-box-price span:first-child {
    font-size: 20px;
    line-height: 28px;
    vertical-align: top;
}

.plan-box .plan-box-container .plan-box-price span:last-child {
    font-size: 72px;
    font-weight: 300;
    line-height: 64px;
}

.plan-box-footer {
    padding: 0 16px;
    padding-bottom: 24px;
}

.plan-box-footer a {
    border-radius: 2px;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    width: 100%;
    display: block;
    padding: 11px;
    color: #fff;
    font-weight: 500;
    transition: all 0.2s;
}

.plan-box-footer a:hover {
    text-decoration: none;
}

.plan-box.plan-standard {
    border-color: #999;
}

.plan-box.plan-standard .plan-box-header,
.plan-box.plan-standard .plan-box-footer a {
    background: #999;
}

.plan-box.plan-standard .plan-box-footer a:hover {
    background: #777;
}

.plan-box.plan-premium {
    border-color: #ffa000;
}

.plan-box.plan-premium .plan-box-container .plan-box-time,
.plan-box.plan-premium .plan-box-container .plan-box-price {
    color: #ffa000;
}

.plan-box.plan-premium .plan-box-header,
.plan-box.plan-premium .plan-box-footer a {
    background: #ffa000;
}

.plan-box.plan-premium .plan-box-footer a:hover {
    background: #e18d00;
}

#whatIDo {
    padding-bottom: 32px;
}

#whatIDo .home-section-title {
    margin-bottom: 18px;
}

.whatIDo-card {
    position: relative;
    padding: 24px 12px;
    padding-top: 40px;
    min-height: 328px;
    margin-bottom: 16px;
}

.whatIDo-card > .whatIDo-card-header {
    position: absolute;
    top: -18px;
    width: 100%;
    left: 0;
    text-align: center;
}

.whatIDo-card > .whatIDo-card-header > span {
    /* position: absolute; */
    padding: 8px 16px;
    background: #ffa000;
    font-size: 12px;
    line-height: 20px;
    border-radius: 18px;
    color: #fff;
    text-transform: uppercase;
    /* top: -18px; */
    /* left: 0; */
    display: inline-block;
    text-align: center;
    min-width: 187px;
    font-weight: 500;
}

.whatIDo-card > p {
    font-size: 14px;
    color: #333;
    line-height: 22px;
}

.whatIDo-card > p > strong {
    text-decoration: underline;
}

#benefits  {
    padding-bottom: 32px;
}

.benefits-card {
    margin-bottom: 16px;
    transition: all 0.2s;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.benefits-card > img {
    width: 100%;
}

.benefits-card:hover {
    box-shadow:0 3px 3px 0 rgba(0,0,0,0.14),0 1px 7px 0 rgba(0,0,0,0.12),0 3px 1px -1px rgba(0,0,0,0.2)
}

.benefits-card > .benefit-card-label {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 16px;
    background: rgba(0,0,0,0.4);
    transition: all 0.2s;
}

.benefits-card > .benefit-card-label > span {
    font-size: 14px;
    color: #f0f0f0;
    text-transform: uppercase;
}

.benefits-card:hover > .benefit-card-label {
    padding-bottom: 24px;
}

.hello-photo {
    margin: 32px;
    margin-right: 24px;
    border-radius: 2px;
    overflow: hidden;
}

.hello-photo img {
    width: 100%;
}

.hello-container {
    padding: 32px;
    padding-left: 0;
}

.hello-container-icon {
    color: #fff;
    font-weight: 500;
    padding-bottom: 16px;
}

.hello-container-icon span:first-child {
    padding: 6px 8px;
    text-align: center;
    font-size: 18px;
    line-height: 18px;
    display: block;
    width: 72px;
    background: #ffa000;
}

.hello-container-icon span:last-child {
    width: 0; 
    height: 0; 
    /* border-left: 20px solid transparent; */
    border-right: 24px solid transparent;
    
    border-top: 12px solid #e18d00;
    display: block;
}

.hello-container-title {
    padding-bottom: 16px;
    border-bottom: 1px solid #ddd;
}

.hello-container-title h1 {
    margin: 0;
    font-weight: 300;
    font-size: 48px;
    line-height: 48px;
    padding-bottom: 12px;
    color: #444;
}

.hello-container-title h1 strong {
    font-weight: 500;
}

.hello-container-title h2 {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    color: #666;
}

.hello-container-infos {
    padding-top: 16px;
}

.hello-container-info {
    padding-bottom: 6px;
}

.hello-container-label {
    font-weight: 500;
    font-size: 12px;
    color: #666;
    text-transform: uppercase;
}

.hello-container-text {
    margin-left: 88px;
}

.hello-container-text p {
    margin-bottom: 6px;
    color: #000;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
}

.hello-footer {
    background: #ffa000;
}

.hello-footer ul {
    list-style: none;
    margin:0;
    padding: 0;
    text-align: center;
}

.hello-footer ul li {
    display: inline-block;
    padding: 16px;
    padding-top: 24px;
}

.hello-footer ul li a {
    width: 32px;
    height: 32px;
    display: block;
    transition: all 0.2s;
    opacity: 0.6;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
}

.hello-footer ul li a:hover {
    opacity: 1;
}

.hello-footer ul li a.hello-facebook {
    background-image: url('./../img/social/facebook-white.png');
}

.hello-footer ul li a.hello-twitter {
    background-image: url('./../img/social/twitter-white.png');
}

.hello-footer ul li a.hello-instagram {
    background-image: url('./../img/social/instagram-white.png');
}

.hello-footer ul li a.hello-youtube {
    background-image: url('./../img/social/youtube-white.png');
}

.hello-footer ul li a.hello-linkedin {
    background-image: url('./../img/social/linkedin-white.png');
}

.hello-footer ul li a.hello-facebook:hover {
    background-image: url('./../img/social/facebook-black.png');
}

.hello-footer ul li a.hello-twitter:hover {
    background-image: url('./../img/social/twitter-black.png');
}

.hello-footer ul li a.hello-instagram:hover {
    background-image: url('./../img/social/instagram-black.png');
}

.hello-footer ul li a.hello-youtube:hover {
    background-image: url('./../img/social/youtube-black.png');
}

.hello-footer ul li a.hello-linkedin:hover {
    background-image: url('./../img/social/linkedin-black.png');
}

.hello-wrap {
    margin-top: -88px;
}

.dareToSucceed-video {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.dareToSucceed-video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#about, #contact {
    padding-bottom: 48px;
}

.contact-form {
    padding: 24px;
}

.contact-input {    
    margin-bottom: 16px;
}

.contact-input input[type="text"],
.contact-input input[type="text"]:active,
.contact-input input[type="text"]:visited,
.contact-input input[type="text"]:focus,
.contact-input textarea,
.contact-input textarea:active,
.contact-input textarea:visited,
.contact-input textarea:focus {
    border-radius: 0;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #aaa;
    padding: 0;
    height: 42px;
    transition: all 0.2s;
    color: #000;
    outline: none;
    box-shadow: none;
}

.contact-input textarea,
.contact-input textarea:active,
.contact-input textarea:visited,
.contact-input textarea:focus {
    border: 1px solid #aaa;
    padding: 12px;
    border-radius: 2px;
    height: 136px;
    resize: none;
}

.contact-input input[type="text"]:focus, .contact-input textarea:focus {
    border-color: #ffa000;
}

.contact-submit button{
    border-radius: 2px;
    border: none;
    background: none;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    background: #ffa000;
    padding: 7px 16px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    transition: all 0.2s;
}

.contact-submit button:hover {
    background: #e18d00;
}

#references {
    padding-bottom: 40px;
}

.references-carousel-wrap {
    padding: 0 48px;
    padding-bottom: 54px;
}

#references-carousel .carousel-control {
    width: 48px;
    background: none;
    color: #666;
    text-shadow: none;
}

#references-carousel .carousel-control.left {
    left: -48px;
}

#references-carousel .carousel-control.right {
    right: -48px;
}

#references-carousel .material-chevron {
    position: absolute;
    font-size: 48px;
    line-height: 48px;
    top: 50%;
    margin-top: -24px;
}

#references-carousel .material-chevron.material-chevron-left {
    left: 0;
}

#references-carousel .material-chevron.material-chevron-right {
    right: 0;
}

#references-carousel .carousel-indicators {
    bottom: -54px;
    top: inherit;
    margin-bottom: 0;
}

#references-carousel .carousel-indicators li,
#references-carousel .carousel-indicators li.active {
    border: none;
    background: rgba(0,0,0,0.2);
    width: 14px;
    height: 14px;
    margin: 0;
    margin: 4px;
}

#references-carousel .carousel-indicators li.active {
    background: #ffa000
}

#references-carousel .item {
    padding: 8px;
}

.reference-box {
    padding: 32px 48px;
    padding-bottom: 16px;
    position: relative;
}

.reference-icon {
    position: absolute;
    top: 16px;
    left: 8px;
}

.reference-icon i {
    font-size: 32px;
    transform: rotate(180deg);
    color:#ffa000;
}

.reference-text {
    padding-bottom: 16px;
    border-bottom: 1px solid #ddd;
}

.reference-text p {
    color: #333;
    /* font-weight: 400; */
    font-size: 16px;
    line-height: 24px;    
    font-family: 'Designosaur', 'Roboto', sans-serif;
}

.reference-user {
    padding-top: 16px;
}

.reference-user-photo {
    width: 48px;
    height: 48px;
}

.reference-user-container {
    margin-left: 64px;
}

.reference-user-name {
    font-size: 14px;
    line-height: 22px;
    color: #000;
    font-weight: 500;
    margin: 3px 0;
}

.reference-user-date {
    font-size: 12px;
    line-height: 20px;
    color: #666;
    font-weight: 500;
}

#faq {
    padding-bottom: 32px;
}

.faq-group .card {
    margin-bottom: 16px;
}

.faq-heading {
    /* padding: 16px; */
}

.faq-title {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
}

.faq-title a,
.faq-title a:hover {
    color: #000;
    padding: 16px;
    display: block;
    text-decoration: none;
    transition: all 0.2s;
}

.faq-title a i {
    transition: all 0.2s;
}

.faq-title a:hover {
    /* background: rgba(0,0,0,0.05); */
    color: #ffa000;
}

.faq-title a.collapsed i {
    transform: rotate(180deg);
}

.faq-body {
    padding: 16px;
    padding-top: 8px;
    color: #444;
    font-weight: 500;
    line-height: 22px;
    font-size: 14px;
}

@media (max-width: 991px) {
    .whatIDo-card {
        margin-bottom: 32px;
    }

    .plan-box-wrap  {
        float: left !important;
    }

    #plans {
        background-image: none;
    }

    .hello-container-title h1 {
        font-size: 32px;
        line-height: 32px;
    }

    .hello-container-title h2 {
        font-size: 14px;
    }

    .hello-container-label {
        float: inherit !important;
        display: block;
    }

    .hello-container-text {
        margin: 0;
    }
}

@media (max-width: 767px) {
}