#post {
    margin-top: -192px;
}

.post-date-container {
    /* padding: 8px; */
    text-align: right;
    font-family: 'Roboto';
}

.post-date-day {
    font-size: 48px;
    font-weight: 500;
    color: #ffa000;
    line-height: 48px;
}

.post-date-month {
    font-size: 32px;
    font-weight: 500;
    color: #ffa000;
    line-height: 32px;
}

.post-date-year {
    font-size: 28px;
    font-weight: 500;
    color: #ffa000;
    line-height: 28px;
}

.post-author {
    margin-bottom: 16px;
}

.post-author-photo {
    padding: 24px 48px;
}

.post-author-photo img {
    margin: 0 auto;
}

.post-author-name {
    font-size: 18px;
    color: #333;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    margin-bottom: 8px;
}

.post-author-about {
    font-size: 14px;
    color: #000;
    text-align: center;
    padding: 0 16px;
    line-height: 22px;
    margin-bottom: 8px;
}

.post-author-social ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.post-author-social {
    padding: 8px 16px;
}

.post-author-social ul li {
    display: inline-block;
    width: 42px;
    height: 42px;
    padding: 8px;
}

.post-author-social ul li a,
.post-author-social ul li a:focus,
.post-author-social ul li a:visited,
.post-author-social ul li a:active {
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: none;
    outline: none;
    transition: all 0.2s;
    opacity: 0.6;
}

.post-author-social ul li a.post-facebook {
    background-image: url('./../img/social/facebook-black.png');
}

.post-author-social ul li a.post-twitter {
    background-image: url('./../img/social/twitter-black.png');
}

.post-author-social ul li a.post-linkedin {
    background-image: url('./../img/social/linkedin-black.png');
}

.post-author-social ul li a.post-youtube {
    background-image: url('./../img/social/youtube-black.png');
}

.post-author-social ul li a.post-instagram {
    background-image: url('./../img/social/instagram-black.png');
}

.post-author-social ul li a.post-facebook:hover {
    background-image: url('./../img/social/facebook-yellow.png');
    opacity: 1;
}

.post-author-social ul li a.post-twitter:hover {
    background-image: url('./../img/social/twitter-yellow.png');
    opacity: 1;
}

.post-author-social ul li a.post-linkedin:hover {
    background-image: url('./../img/social/linkedin-yellow.png');
    opacity: 1;
}

.post-author-social ul li a.post-youtube:hover {
    background-image: url('./../img/social/youtube-yellow.png');
    opacity: 1;
}

.post-author-social ul li a.post-instagram:hover {
    background-image: url('./../img/social/instagram-yellow.png');
    opacity: 1;
}

.post-tags-title {
    font-size: 14px;
    text-align: center;
    font-weight: 700;
    color: #666;
    line-height: 22px;
    margin-bottom: 16px;
    text-transform: uppercase;
}

.post-tags-list {
    margin-bottom: 32px;
}

.post-tag {
    font-size: 14px;
    background: #ffa000;
    color: #fff;
    font-weight: 400;
    line-height: 22px;
    padding: 7px 12px;
    border-radius: 18px;
    margin: 2px;
    white-space: nowrap;
    display: inline-block;
    cursor: pointer;
    transition: all 0.2s;
}

.post-tag:hover {
    background: #e18d00;
}

.post-content-fullImage {
    width: 100%;
    margin-bottom: 20px;
}

.post-content-subtitle {
    margin-bottom: 16px;
    font-weight: 500;
    color: #666;
    line-height: 22px;
    font-size: 14px;
    padding: 0 16px;
}

.post-content-text {
    line-height: 22px;
    font-size: 14px;
    padding: 0 16px;
    padding-bottom: 16px;
    color: #000;
}

.post-content-leftImage {
    max-width: 40%;
    float:left;
    margin: 16px;
    margin-top: 0;
}

.post-content-rightImage {
    max-width: 40%;
    float:right;
    margin: 16px;
    margin-top: 0;
}

.post-footer {
    text-align: center;
    padding: 24px 0;
}

.post-footer-box {
    display: inline-block;
}

.post-footer-box span {
    font-family: 'Designosaur', 'Roboto', sans-serif;
    color: #888;
    font-style: italic;
    font-size: 14px;
    line-height: 22px;
    float: left;
    line-height: 32px;
}

.post-footer-box span img {
    width: 32px;
    height: 32px;
    margin: 0 8px;
}

@media (max-width: 991px) {
    .post-date-container {
        margin-bottom: 8px;
        text-align: center;
    }

    .post-date-day, .post-date-month, .post-date-year {
        display: inline-block;
        font-size: 20px;
        line-height: 28px;
    }
}

@media (max-width: 767px) {
    .post-content-leftImage, .post-content-rightImage {
        float: none;
        max-width: 100%;
        height: auto;
        margin: 0;
        margin-bottom: 16px;
    }
}

@media (max-width: 479px) {
    #post {
        margin-top: -72px;
    }
}